html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* disable scrolling */
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: tan; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1); /* Ensure scaling remains the same */
    transform-origin: top left; /* Scale from the top left corner */
}

main {
    display: none; /* hide the main content at beginning */
    width: 100%; 
    height: 100%; 
    background-color: tan; 
    position: relative; /* footer aligns with main content */
}

@font-face {
    font-family: 'WINDOWS'; /* a name to be used later */
    src: url('fonts/w95fa[1].ttf');
}      

/*         INTRODUCTION         */

.image-button {
    background: url("images/computer.png") no-repeat center center; /* set the image as the background */
    background-size: cover; /* the image covers the entire button */
    border: none;
    width: 250px; 
    height: 200px;
    transform: translate(0, 250px);
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: 600px;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out; /* add transition for smooth scaling */
}

.image-button:hover {
    transform: scale(1.1) translate(0, 225px); /* scaling up the image on hover */
}

.glitch {
    background-color: black;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: wheat;
    position: relative;
    text-shadow:
        0.05em 0 0 rgba(255, 0, 0, .75),
        -0.025em -0.05em 0 rgba(0, 255, 0, .75),
        0.025em 0.05em rgba(0, 0, 255, .75);
    animation: glitch 750ms infinite; 
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-.025em, -.02em);
    opacity: .8;
}

@keyframes first-child {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(-.025em, -.02em);
    }
    49% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(-.025em, -.02em);
    }
    50% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(0.025em, -.02em);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(0.025em, -.02em);
    }
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(.02em, .025em);
    opacity: .8;
}

@keyframes last-child {
    0% {
        clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
        transform: translate(.02em, .025em);
    }
    49% {
        clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
        transform: translate(.02em, .025em);
    }
    50% {
        clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
        transform: translate(-.02em, .025em);
    }
    100% {
        clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
        transform: translate(-.02em, .025em);
    }
}

@keyframes glitch {
    0% { /* this means the time percentage of the whole animation */
        text-shadow:
        0.05em 0 0 rgba(255, 0, 0, .75),
        -0.05em -0.025em 0 rgba(0, 255, 0, .75),
        0.025em 0.05em rgba(0, 0, 255, .75);
    }
    30% { 
        text-shadow:
        0.05em 0 0 rgba(255, 0, 0, .75),
        -0.05em -0.025em 0 rgba(0, 255, 0, .75),
        0.025em 0.05em rgba(0, 0, 255, .75);
    }
    31% { 
        text-shadow:
        0.025em 0.05em 0 rgba(255, 0, 0, .75),
        0.025em 0.025em 0 rgba(0, 255, 0, .75),
        -0.05em -0.05em rgba(0, 0, 255, .75);
    }
    66% { 
        text-shadow:
        0.025em 0.05em 0 rgba(255, 0, 0, .75),
        0.025em 0.025em 0 rgba(0, 255, 0, .75),
        -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    67% { 
        text-shadow:
        -0.025em 0 0 rgba(255, 0, 0, .75),
        -0.025em -0.025em 0 rgba(0, 255, 0, .75),
        -0.025em -0.05em 0 rgba(0, 0, 255, .75);
    }
    100% { 
        text-shadow:
        -0.025em 0 0 rgba(255, 0, 0, .75),
        -0.025em -0.025em 0 rgba(0, 255, 0, .75),
        -0.025em -0.05em 0 rgba(0, 0, 255, .75);
    }
}

 /*        END OF INTRODUCTION         */

 /*        DECO         */

.eyes-deco {
    background-size: cover;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%; /* align with the width of the main content */
    height: 45px;
    background-color: rgb(184, 184, 184);
    color: black;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    color: black;
    text-shadow: none;
    animation: none;
}

.image-phi {
    display: block;
    margin-left: 10px;
    margin-right: 20px;
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    object-fit: cover; 
}

.image-links {
    display: flex;
    width: 23px; 
    height: 23px;
    border-radius: 50%;
    object-fit: cover; 
    gap: 25px; 
    justify-content: center; 
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.image-links:hover {
    transform: scale(1.05) translate(0, .35px); /* Scale up the image on hover */
}

.image-icons {
    width: 50px; 
    height: 50px;
}

.about, .competencies, .projects, .highlights, .documents, .contact {
    display: flex;
    margin: 40px 10px;
    padding: 10px 20px;
    background:none;
    border: none;
}

.about button, .competencies button, .projects button, .highlights button, .documents button, .contact button {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.text-under-icon {
    width:100%;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 0;
    margin-bottom: 10px;
    float:left;
}

.eyes-deco:hover img {
    content: url('images/faceopen.png');
}

.popup {
    display: none;
    position: fixed;
    z-index: 10; /* sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 60%;
    max-height: 75%;
    overflow-y: auto; /* add scroll if content is too long */
    background-color: #f5efdd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 10px;
    resize: both; /* allow resizing both horizontally and vertically */
    overflow: auto; /*  content isgona be scrollable when resized */
}

.popup-resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: none;
    cursor: se-resize;
    bottom: 0;
    right: 0;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #2e2e2e;
    padding-bottom: 10px;
    margin-bottom: 20px;
    cursor: move; /* Change cursor to move */
}

.popup-header h2 {
    margin: 0;
}

.popup-close {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    background: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    font-family: "WINDOWS";
    width: auto;
    margin-top: 20px;
    cursor: pointer;
    background-color: #d9da86;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.chat-bubble {
    display: none;
    position: absolute;
    top: -100px;
    right: -100px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-family: "WINDOWS";
    font-size: 0.8rem;
    z-index: 2;
}

.eyes-deco:hover .chat-bubble {
    display: flex;
}

.skills-icon {
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.skills-icon:hover {
    transform: scale(1.2);
}

.skills-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
